 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,latin-ext);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);



:root{
    --mycolor: #ff1a75;
    }


body{
    padding: 0px;
    margin: 0px;
    ackground-color:rgba(179, 179, 179,.33);
    width: 100%;
    margin: 0 auto;
    }

.midlewraper{
    background-color: white;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 50px;
    }













.allstorys {
        width: 100%;
        overflow: hidden;
        } 


.allstorys h1{
        color: #666666;
        font-family:  'Open Sans', sans-serif;
        padding: 0px 10px 0px 10px;
        border: 0px solid black;
        display: inline-block;
        margin-left: 15px;
        font-size: 1.8em;
        } 

.allstorys i{
        margin-right: 5px;
        }


.redh1.red {
    position :relative;
    -webkit-animation: mymove 3s ease; /* Chrome, Safari, Opera */
    animation: mymove 3s ease;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    0%   {top: -100px;}
    76%   {top: -100px;}
    95%  {top: 8px;}
    100% {top: 0px;}
}

/* Standard syntax */
@keyframes mymove {
    0%   {top: -100px;}
    76%   {top: -100px;}
    95%  {top: 8px;}
    100% {top: 0px;}
}






.the-latest{
  font-size: 1.6em;
}





a{
      text-decoration: none;

        }   


span{
      /*color: #0066ff;*/
      /*color: #b30059;*/
      color: #ff1a75;
        }




.advert{
       width: 65%;
       display: inline-block;
       padding: 0%;
       overflow: hidden;
       border-top: 1px solid #e6e6e6;
       margin-left: 0%;
       margin-bottom: 8px;
       padding-top: 6px;
       
        }



.advert h3{
       /*position: top left;*/
       color:#ff1a75;
       margin: 0px 0px -.5em 0px;
       font-size: 0.8em;
       font-family:  'Open Sans', sans-serif;
       font-weight: 400;
       display: inline;
       border-bottom: 2px solid #ff1a75;
        }








.advert .imagine{
       width: 30%;
       height:13em;
       overflow: hidden;
       margin-right: 2%;
       margin-bottom: 0px;
       float: left;
       margin-top: -6px;
        }       


.advert img{
        width:  160%;
        margin-left: -25%;
        }



.wraper-smal{
}

.advert h1 {
        margin: 8px 0px 8px 0px;
        font-family: 'Titillium Web', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.3em;
        line-height: 1.2em;
        color: #404040;
        /*color: black;*/
      
        
        }

.entry-title a{
  font-family: Helvetica;
  font-family:  'Open Sans', sans-serif;
  font-size: .9em;
  
}
.entry-title .black-a{
  color: #424242;

}


 .advert h1:hover{
        /*color: #0066ff;*/
        color: #b30059;
        }

 .advert h4{
       margin: 0px;
       margin-bottom: 5px;
       font-size: 0.7em;
       font-family:  'Open Sans', sans-serif;
       font-style: italic;
       color: #666666;
        }


 .advert p{
        width: 68%;
        margin: 0px;
        font-size: 0.8em;
        color: #4d4d4d;
        line-height: 1.8em;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        float: right;
        margin-bottom: 10px;
        display: none;
        }   





  .advert hr{
       display: none;

        }  












 @media screen and (max-width: 1100px)   {

.advert{
    margin-left: 2.5%;
 
}

.the-latest{
  margin-left: 20px;
}

}





 @media screen and (max-width: 880px)   {
.advert h1 {
        font-size: 1.3em;
        
        
        }

}


 @media screen and (max-width: 780px)   {


.allstorys h1{
        
        font-size: 1.3em;
        } 


.the-latest{
  font-size: 1.2em;
  margin-left: 24px;

}



.advert{
        width: 100%;
        height: 100px;
        overflow: hidden;
        border-bottom: 1px solid #d9d9d9;
        margin: 0px;
        padding: 4px 0px 8px 0px;
        border-top: 0px;
        }

.advert hr{
        margin-bottom: .5em;
        color: rgba(255,255,255,.1);
        display: none;
        }


.advert h3{
       font-size: .9em;
       display: block;
       font-family: Arial;
       border-bottom: none;
       position: absolute;
       margin: 80px 10px 0px 90%;
       display: none;
        }


 .advert .imagine{
      /* width: 22%;
       height: 90%;
       display: inline-block;
       margin-top: 5px;
       margin-left: 25px;*/
        width: 26%;
       height: 90%;
       display: inline-block;
       margin-top: 5px;
       margin-left: 15px;
       margin-right: 0px;
       margin-bottom: 0px;
       
        }       


 .advert img{
        width:  200%;
        margin-left: -60%;
        }


.wraper-smal{
    /*   width: 70%;
       float: right;
       margin-top: -5px;*/
         width: 66%;
       float: right;
       margin-top: -5px;
       border: 0px;
       margin-right: 16px; 
       }  

.advert h1{
        font-size: 1.05em;
        color:black;
        line-height: 1.2em;
        padding-top: 3px;
        font-family:  'Open Sans', sans-serif;
        }

.advert h4{
        font-size: 0.7em;
        color: #737373;
        color: black;
        }


 .advert p{
        display: none;
        }




   }







@media screen and (max-width: 510px)   { 



  .the-latest{
    margin-left: 10px;
  }


.advert{
        width: 100%;
        height: 100px;
        overflow: hidden;
        border-bottom: 1px solid #d9d9d9;
        padding-left: 0px;
        padding-right: 0px;
        
        }

.advert hr{
        margin-bottom: .5em;
        color: rgba(255,255,255,.1);
        display: none;
        }


.advert h3{
       font-size: .9em;
       display: block;
       font-family: Arial;
       border-bottom: none;
       position: absolute;
       margin: 80px 10px 0px 90%;
       display: none;
        }


 .advert .imagine{
       width: 22%;
       height: 90%;
       display: inline-block;
       margin-top: 5px;
       margin-left: 13px;
        }       


 .advert img{
        width:  200%;
        margin-left: -60%;
        }


.wraper-smal{
       width: 70%;
       float: right;
       margin-top: -5px;
        
       }  

.advert h1{
        font-size: 1em;
        color:black;
        line-height: 1.2em;
        padding-top: 3px;
        font-family:  'Open Sans', sans-serif;
        }

.advert h4{
        font-size: 0.7em;
        color: #737373;
        color: black;
        }


 .advert p{
        display: none;
        }


     }



